# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
dist/
build/
*.egg-info/

# database
sqlite.db
sql_app.db