fastapi
uvicorn
sqlalchemy
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
slowapi
email-validator
# Drivers adicionales para otras bases de datos (Descomentar si se usa)
aiosqlite  # Para SQLite
asyncpg  # Para PostgreSQL
aiomysql   # Para MariaDB/MySQL
